.container{
    width: 800px;
    border : 2px solid black;
    margin: auto;

}
.satu{
    width: 150px;
    height: 500px;
    background-color: blueviolet;
    float: left;

}
.dua{
    width: 500px;
    height: 500px;
    background-color: green;
    float: left;
}
.tiga{
    width: 150px;
    height: 500px;
    background-color: yellow;
    float: left;
}
