
div{
    width: 200px;
    height: 200px;
    position: absolute;
   
}
.satu{
    background-color: rgb(10, 5, 80);
    z-index: 3;
    left: 150px;
    top: 150px;

}
.dua{
    background-color: skyblue;
    z-index: 1;
    top: 200px;
    left: 200px;
   
}
.tiga{
    background-color: coral;
    top: 100px;
    left: 100px;
}

