
body{
    height: 2000px;

}

div{
    width: 200px;
    height: 200px;
    margin: auto;
}
.satu{
    background-color: rgb(10, 5, 80);
}
.dua{
    background-color: skyblue;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 100%;
}
.tiga{
    background-color: coral;
}
.container{
    width: 600px;
    height: 700px;
    border: 5px solid yellow;
    position: relative;
}
