div{
    width: 800px;
    margin: 10px auto;
    box-sizing: border-box
    
}
.saya{
    background-color: aqua;
    padding: 100px;
    border: 5px dotted red;
}
.kamu{
    background-color: blueviolet;
    padding: 5px;
    border: 15px double yellow;
}